body{
  background-color: black;
}
.user-form {
    max-width: 358px;
  background-color: black;
    display: flex;
    flex-direction: column;
    margin: 20px auto 80px auto;
  }

  .user-form__title{
    align-self: center;
    color: white;
    font-size: 24px;
    line-height: 30px;
    font-weight: 900;
    margin-bottom: 50px;
    margin-top: 20px;
    font-family: "Inter", "sans-serif";
  }

  .user-form__link-span{
    height: 17px;
    margin-top: 15px;
    align-self: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 17px;
    font-family: "Inter", "sans-serif";
  }
  
  .user-form__link-span:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
  }

  .user-form__input{
    width: 100%;
    background-color: black;
    border: 0;
    border-bottom: 1px solid #ffffff;
    height: 28px;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: "Inter", "sans-serif";
  }

  .user-form__container{
    height: 84px;
    margin-bottom: 200px;
  }

  .user-form__button-submit{
    background-color: white;
    height: 50px;
    border: none;
    color: black;
    font-family: "Inter", "sans-serif";
  }
  
  .user-form__button-submit:hover{
    cursor: pointer;
    opacity: 0.6;
  }